<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229484675541-cfgb1ie6gslqit1vmu4shqh3mukuv9rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229484675541-cfgb1ie6gslqit1vmu4shqh3mukuv9rt</string>
	<key>API_KEY</key>
	<string>AIzaSyAB-6pIuWx3N6FRQ6J7jMqIdot1QGBYvtg</string>
	<key>GCM_SENDER_ID</key>
	<string>229484675541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilham</string>
	<key>PROJECT_ID</key>
	<string>chatting-22df9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-22df9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229484675541:ios:72f6d3c53380f806a63d5c</string>
</dict>
</plist>